<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style/font.css" />
    <link rel="stylesheet" href="../assets/style/reset.css" />
    <link rel="stylesheet" href="../assets/style/index.css" />
    <script
      src="https://kit.fontawesome.com/11c4b226a9.js"
      crossorigin="anonymous"
    ></script>
    <title>iqos-page</title>
  </head>
  <body>
    <header>
      <div class="header-area">
        <div class="header-content">
          <div class="brand-int">
            <div>
              <span class="brand-story"><a href="">브랜드스토리</a></span>
              <i class="fa-solid fa-angle-down"></i>
            </div>
            <div>
              <span><a href="">제품</a></span>
              <i class="fa-solid fa-angle-down"></i>
            </div>
            <div>
              <span><a href="">myIQOS</a></span>
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
          <img class="logo" src="../assets/image/logo-img.png" alt="로고" />
          <div class="brand-info">
            <span><a href="">중요한 정보</a></span>
            <span><a href="">고객지원</a></span>
            <span><a href="">직영 아이코스 매장</a></span>
            <div class="icon-area">
              <i class="fa-regular fa-user"></i>
              <i class="fa-solid fa-basket-shopping"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer>
      <div class="footer-area">
        <div class="footer-back">
          <div class="footer-content1">
            <div class="shopping-info">
              <div class="useful-links">
                <p>유용한 링크</p>
                <ul>
                  <li>뉴스 & 이벤트</li>
                  <li>온라인 구매</li>
                  <li>기기등록하기</li>
                </ul>
              </div>
              <div class="customer-service">
                <p>고객 서비스</p>
                <ul>
                  <li>매장찾기</li>
                  <li>문의하기</li>
                  <li>FAQ</li>
                  <li>보증/배송/반품</li>
                </ul>
              </div>
            </div>
            <div class="social-network">
              <p>소셜 네트워크</p>
              <ul>
                <li>카카오톡</li>
                <li>유튜브</li>
              </ul>
            </div>
          </div>
          <div class="footer-content2">
            <p>© 2023 Philip Morris Products SA. All Rights Reserved.</p>
            <div class="personal-info">
              <a href="">개인정보 처리방침</a>
              <a href="">이용약관</a>
              <a href="">회사정보</a>
              <a href="">쿠키설정</a>
              <a href="">사이트맵</a>
              <a href="">중요한 정보</a>
            </div>
          </div>
          <div class="footer-content3">
            <div class="footer-int1">
              <div>
                <p><span>법인명 (상호) :<strong>한국필립모리스(주)</strong></span><span>사업자등록번호 : 110-81-20980 (사업자정보확인)</span></p>
                
              </div>
              <div>
                <p><span>주소 : 서울특별시 영등포구 국제금융로 10, 25층 (여의도동, 원
                  아이에프씨)</span>
                
                <span>통신판매업 신고 : 제 2017-서울영등포 -0516호</span></p>
                  
              </div>
              <div>
                <p><span>대표자(성명) : 백영재</span>
                  <span>E-mail : contact-kr@iqos.com</span>
                  <span>대표번호 : 080-000-1905</span></p>
              </div>
            </div>
            <div class="footer-int2">
              <p>(주) 신한은행구매안전서비스 (채무지급보증) 가입사실확인</p>
              <p>
                저희 웹사이트에서는 고객님이 결제한 금액에 대해 (주)신한은행과
                채무지급보증 계약을 쳬결하여 안전거래를 보장하고 있습니다.
              </p>
            </div>
          </div>
        </div>
        <div class="footer-bt">
          <p>
            아이코스와 타바코 스틱은 무해한 제품이 아니며 중독성이 있습니다.
          </p>
          <p>
            우리는 담배 또는 니코틴 제품을 사용한 적이 없거나 금연한 분에게
            PMI의 연기 없는 제품을 판매하지 않습니다. PMI의 연기 없는 제품은
            금연을 대체하거나, 금연 보조 제품으로 개발된 것이 아닙니다.
          </p>
          <p>
            청소년은 모든 담배 또는 니코틴 제품을 사용해서는 안됩니다. 임신 또는
            수유 중인 여성, 당뇨, 심장 질환 또는 고혈압이 있는 분은 모든 담배
            또는 니코틴 제품을 사용해서는 안됩니다.
          </p>
          <p>
            아이코스 일루마는 전용 타바코 스틱만 사용하도록 설계되었습니다.
            아이코스 이전 모델을 아이코스 일루마 전용 타바코 스틱과 혼용하지
            마십시오. 기기의 손상을 유발할 수 있습니다.
          </p>
          <p>
            [주의] 아이코스 일루마 전용 타바코 스틱을 삼키거나 분해하지
            마십시오. 아이코스 일루마 전용 타바코 스틱에는 날카로운 금속 부분이
            포함되어 있어 삼키면 심각한 부상을 초래할 수 있습니다. 어린이 손에
            닿지 않는 곳에 보관하십시오.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
