/* header */
header {
  width: 100%;

  background-color: #fff;
}
.header-area {
  padding: 0 2rem;
}
.header-area .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0;
}
.header-area .header-content .brand-int {
  display: flex;
  font-weight: 700;
}
.header-area .header-content .brand-bar {
  display: none;
}

.header-area .header-content .brand-int span {
  font-size: 1.4rem;
  padding: 0 2.5rem;
}
.header-area .header-content .brand-int .brand-story {
  padding-left: 0;
}
.header-area .header-content .brand-int i {
  font-size: 1.2rem;
}
.header-area .header-content img {
  width: 8rem;
  height: 2.7rem;
  padding-top: 7px;
}
.header-area .header-content .brand-info {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.header-area .header-content .brand-info span {
  font-size: 1.4rem;
  margin-left: 2.2rem;
}
.header-area .header-content .brand-info .icon-area {
  margin-left: 6.5rem;
  font-size: 2rem;
  position: relative;
}
.header-area .header-content .brand-info .icon-area span {
  background: #00d1d2;
  border-radius: 50%;
  min-width: auto;
  width: 15px;
  height: 16px;
  line-height: 15px;
  font-size: 8px;
  font-weight: 700;
  position: absolute;
  right: -4px;
  bottom: -4px;
  text-align: center;
}

.header-area .header-content .brand-info .icon-area i:nth-of-type(2) {
  margin-left: 1rem;
}
@media screen and (max-width:992px) {
  .header-area .header-content .brand-int {
    display: none;
  }
  .header-area .header-content .brand-bar {
    display: inline-block;
    font-size: 2.8rem;
    transform: translateY(2px);
    color: #757575;
  }
  .header-area .header-content .brand-bar:hover {
    color: #444444;
  }
  .header-area .header-content .brand-info .info-icon {
    display: none;
  }
  .header-area .header-content .brand-info .icon-area {
    margin-left: 0;
  }
  .header-area .header-content {
    padding: 1.5rem 0;
  }
  .header-area {
    padding: 0 2.4rem;
  }
}

/* footer */
.footer-back {
  background-color: #2c2d3a;
  padding: 6rem 2.4rem 3rem;
  display: flex;
  flex-direction: column;
}
.footer-back .footer-content1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.footer-back .footer-content1 .shopping-info {
  display: flex;
}
.footer-back .footer-content1 .shopping-info .useful-links {
  margin-right: 12.4rem;
}
.footer-back .footer-content1 p {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 700;
}
.footer-back .footer-content1 li {
  margin-bottom: 1.2rem;
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
  font-weight: 500;
}
.footer-back .footer-content2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-back .footer-content2 p {
  color: #fff;
}
.footer-back .footer-content2 a {
  color: rgba(255, 255, 255, 0.65);
  margin-left: 1.5rem;
}
.footer-back .footer-content3 {
  display: flex;
  padding-top: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.footer-back .footer-content3 .footer-int1 {
  flex: 1;
  padding-right: 2rem;
}
.footer-back .footer-content3 .footer-int1 span::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 1.1rem;
}
.footer-back .footer-content3 .footer-int1 div {
  display: block;
}
.footer-back .footer-content3 .footer-int2 {
  flex: 1;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.65);
  padding-left: 2rem;
}
.footer-back .footer-content3 span {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.65);
}
.footer-back .footer-content3 strong {
  color: #fff;
  font-size: 1.2rem;
}
.footer-area .footer-bt {
  padding: 1.5rem 3.4rem;
  background: #27242d;
  font-size: 12px;
  line-height: 18px;
  color: #fffdfb;
  font-weight: 700;
  text-align: center;
  word-break: keep-all;
}
@media screen and (max-width: 767px) {
  .footer-area .footer-back {
    padding: 3rem;
    
  }
  .footer-area .footer-back .footer-content1 {
    display: flex;
    flex-direction: column;
  }
  .footer-area .footer-back .footer-content1 .shopping-info {
    display: flex;
    flex-direction: column;
  }
  .footer-area .footer-back .footer-content1 .shopping-info .useful-links {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .footer-area .footer-back .footer-content1 {
    padding-bottom: 3rem;
    margin-bottom: 0;
  }
  .footer-area .footer-back .footer-content1::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 3rem;
    
    
  }
  .footer-area .footer-back .footer-content1 .shopping-info ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-area .footer-back .footer-content1 .shopping-info ul li {
    flex: 50%;
    margin: 1.2rem 0;
  }
  .footer-area .footer-back .footer-content1 .shopping-info .customer-service {
    margin-bottom: 3rem;
  }
  .footer-area .footer-back .footer-content2 {
    order: 3;
    word-break: keep-all;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
  }
  .footer-area .footer-back .footer-content2 p {
    text-align: center;
  }
  .footer-area .footer-back .footer-content2 .personal-info {
    text-align: center;
    margin-top: 2.5rem;
  }
  .footer-area .footer-back .footer-content2 .personal-info a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-left: 1.5rem;
  }
  .footer-area .footer-back .footer-content3 {
    order: 2;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
  }
  .footer-area .footer-back .footer-content3 .footer-int1 span {
     display: block;
     line-height: 2rem;

  }
  .footer-back .footer-content3 .footer-int1 span::after {
    display: none;
  }
  .footer-back .footer-content3 .footer-int2 {
    margin-top: 3.5rem;
    padding-left: 0;
    line-height: 2rem;
  }
  }

/* slide-area */
.arrow-slider .prev {
  position: absolute;
  top: 50%;
  left: 3rem;
  z-index: 1;
}
.arrow-slider .next {
  position: absolute;
  top: 50%;
  right: 3rem;
  z-index: 1;
}
.arrow-slider i {
  font-size: 3.5rem;
  color: #fff;
}
.arrow-slider i:hover {
  transition: all 0.3s;
  color: #34303d;
}
.slide-area {
  position: relative;
  z-index: 0;
}
.slide-area .slide-1 {
  background-image: url(../../assets/image/slide-1.webp);
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 990px) {
  .slide-area .slide-1 {
    background-position: center;
    background-size: cover;
  }
  .arrow-slider i {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .slide-area .slide-1 {
    background-image: url(../../assets/image/slide-img1.webp);
  }
}
.slide-area .slide-2 {
  background-image: url(../../assets/image/slide-2.jpg);
  max-width: 100%;
  height: 75rem;
  background-repeat: no-repeat;
}
.slide-area .slide-2 h2 {
  font-size: 5.4rem;
  font-weight: 700;
  color: #000;
  line-height: 125%;
}
.slide-area .slide-2 h2:nth-of-type(3) {
  color: #fff;
}
.slide-area .slide-2 .slide2-content {
  padding: 17.5rem 0 0 35rem;
}
.slide-area .slide-2 .slide2-content h5 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  line-height: 125%;
}
.slide-area .slide-2 .slide2-content h5:nth-of-type(2) {
  margin-bottom: 6.6rem;
}
.slide-area .slide-2 .slide2-content h5:nth-of-type(1) {
  margin-top: 4rem;
}
.slide-area .slide-2 .slide2-content a {
  background-color: #fff;
  color: #34303d;
  padding: 1.6rem 3.4rem;
  border: 2px solid #fff;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.slide-area .slide-2 .slide2-content a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.slide-area .slide-2 .slide2-content a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
@media screen and (max-width: 990px) {
  .slide-area .slide-2 .slide2-content {
    text-align: center;
    padding: 12.5rem 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .slide-area .slide-2 {
    background-image: url(../../assets/image/slide-img2.jpg);
    background-position: center;
    background-size: cover;
  }
  .slide-area .slide-2 .slide2-content {
    padding-top: 7.5rem;
  }
  .slide-area .slide-2 .slide2-content h2 {
    font-size: 3.6rem;
  }
  .slide-area .slide-2 .slide2-content h5 {
    font-size: 1.8rem;
  }
  .slide-area .slide-2 .slide2-content h5:nth-of-type(1) {
    margin-top: 2rem;
  }
  .slide-area .slide-2 .slide2-content h5:nth-of-type(2) {
    margin-bottom: 0;
  }
  .slide-area .slide-2 .slide2-content a {
    font-size: 1.3rem;
  }
}
.slide-area .slide-3 {
  background-image: url(../../assets/image/slide-3.png);
  background-repeat: no-repeat;
  min-height: 71rem;
  height: 75rem;
  width: 100%;
  word-break: keep-all;
}
.slide-area .slide-3 .slide3-content {
  padding: 13.7rem 0 0 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slide-area .slide-3 h6 {
  padding: 8px 6.8rem;
  background-color: #34303d;
  font-size: 2.4rem;
  color: #fff;
  margin-right: 55.9rem;
  line-height: 100%;
  align-items: center;
  white-space: nowrap;
}
.slide-area .slide-3 .slide3-content span {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2;
}
.slide-area .slide-3 .slide3-content span:nth-of-type(1) {
  margin-top: 3rem;
  color: #fff;
}
.slide-area .slide-3 .slide3-content span:nth-of-type(2) {
  color: #34303d;
}
.slide-area .slide-3 .slide3-content .iluma-price {
  display: flex;
  flex-direction: row;
  color: #34303d;
  margin-top: 3.8rem;
  gap: 1.7rem;
}
.slide-area .slide-3 .slide3-content .iluma-price img {
  width: 1.7rem;
  height: 5.5rem;
}
.slide-area .slide-3 .slide3-content .iluma-price strong {
  font-size: 3.2rem;
  position: relative;
}
.slide-area .slide-3 .slide3-content .iluma-price p {
  font-size: 3.2rem;
}
.slide-area .slide-3 .slide3-content .iluma-price strong::after {
  content: "";
  top: -9px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  background-color: #34303d;
  box-shadow: 30px 0 #34303d, 60px 0 #34303d, 90px 0 #34303d;
}

.slide-area .slide-3 .slide3-content a {
  background-color: #34303d;
  color: #fff;
  padding: 1.6rem 3.4rem;
  border: 2px solid #34303d;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.slide-area .slide-3 .slide3-content a::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.slide-area .slide-3 .slide3-content a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
.slide-area .slide-3 .slide3-content h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 3.6rem;
}
@media screen and (max-width: 990px) {
  .slide-area .slide-3 {
    text-align: center;
  }
  .slide-area .slide-3 .slide3-content {
    padding: 12.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide-area .slide-3 .slide3-content h6 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .slide-area .slide-3 {
    background-image: url(../../assets/image/slide-img3.png);
    background-position: center;
    background-size: cover;
  }
  .slide-area .slide-3 .slide3-content {
    padding-top: 7.5rem;
  }
  .slide-area .slide-3 .slide3-content h6 {
    font-size: 1.6rem;
  }
  .slide-area .slide-3 .slide3-content span {
    font-size: 4.8rem;
  }
  .slide-area .slide-3 .slide3-content a {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .slide-area .slide-3 .slide3-content h3 {
    margin-top: 30rem;
    font-size: 1.3rem;
  }
  .slide-area .slide-3 .slide3-content span:nth-of-type(1) {
    margin-top: 9px;
  }
  .slide-area .slide-3 .slide3-content .iluma-price {
    gap: 9px;
    align-items: center;
    margin-top: 1.7rem;
  }
  .slide-area .slide-3 .slide3-content .iluma-price img {
    font-size: 2.8rem;
  }
  .slide-area .slide-3 .slide3-content .iluma-price strong {
    font-size: 2.4rem;
  }
  .slide-area .slide-3 .slide3-content .iluma-price strong::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 8px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #34303D;
    box-shadow: 21px 0 #34303D, 42px 0 #34303D, 68px 0 #34303D;
  }
  .slide-area .slide-3 .slide3-content .iluma-price p {
    font-size: 2.4rem;
  }
}
.slide-area .slide-4 {
  background-image: url(../../assets/image/slide-4.png);
  background-repeat: no-repeat;
  min-height: 71rem;
  height: 75rem;
  width: 100%;
}
.slide-area .slide-4 .slide4-content {
  padding: 13.7rem 0 0 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slide-area .slide-4 h6 {
  padding: 8px 6.8rem;
  background-color: #34303d;
  font-size: 2.4rem;
  color: #fff;
  
  line-height: 100%;
  align-items: center;
}
.slide-area .slide-4 .slide4-content span {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2;
}
.slide-area .slide-4 .slide4-content span:nth-of-type(1) {
  margin-top: 3rem;
  color: #fff;
}
.slide-area .slide-4 .slide4-content span:nth-of-type(2) {
  color: #34303d;
}
.slide-area .slide-4 .slide4-content .iluma-price {
  display: flex;
  flex-direction: row;
  color: #34303d;
  margin-top: 3.8rem;
  gap: 1.7rem;
}
.slide-area .slide-4 .slide4-content .iluma-price img {
  width: 1.7rem;
  height: 5.5rem;
}
.slide-area .slide-4 .slide4-content .iluma-price strong {
  font-size: 3.2rem;
  position: relative;
}
.slide-area .slide-4 .slide4-content .iluma-price p {
  font-size: 3.2rem;
}
.slide-area .slide-4 .slide4-content .iluma-price strong::after {
  content: "";
  top: -9px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  background-color: #34303d;
  box-shadow: 30px 0 #34303d, 60px 0 #34303d, 90px 0 #34303d;
}
.slide-area .slide-4 .slide4-content a {
  background-color: #34303d;
  color: #fff;
  padding: 1.6rem 3.4rem;
  border: 2px solid #34303d;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.slide-area .slide-4 .slide4-content a::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.slide-area .slide-4 .slide4-content a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
.slide-area .slide-4 .slide4-content h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 3.6rem;
}
@media screen and (max-width: 990px) {
  .slide-area .slide-4 {
    text-align: center;
  }
  .slide-area .slide-4 .slide4-content {
    padding: 12.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide-area .slide-4 .slide4-content h6 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .slide-area .slide-4 {
    background-image: url(../../assets/image/slide-img4.png);
    background-position: center;
    background-size: cover;
  }
  .slide-area .slide-4 .slide4-content {
    padding-top: 7.5rem;
  }
  .slide-area .slide-4 .slide4-content h6 {
    font-size: 1.6rem;
  }
  .slide-area .slide-4 .slide4-content span {
    font-size: 4.8rem;
  }
  .slide-area .slide-4 .slide4-content a {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .slide-area .slide-4 .slide4-content h3 {
    margin-top: 30rem;
    font-size: 1.3rem;
  }
  .slide-area .slide-4 .slide4-content span:nth-of-type(1) {
    margin-top: 9px;
  }
  .slide-area .slide-4 .slide4-content .iluma-price {
    gap: 9px;
    align-items: center;
    margin-top: 1.7rem;
  }
  .slide-area .slide-4 .slide4-content .iluma-price img {
    font-size: 2.8rem;
  }
  .slide-area .slide-4 .slide4-content .iluma-price strong {
    font-size: 2.4rem;
  }
  .slide-area .slide-4 .slide4-content .iluma-price strong::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 8px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #34303D;
    box-shadow: 21px 0 #34303D, 42px 0 #34303D, 68px 0 #34303D;
  }
  .slide-area .slide-4 .slide4-content .iluma-price p {
    font-size: 2.4rem;
  }
}
.slide-area .slide-5 {
  background-image: url(../../assets/image/slide-5.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 75rem;
}
@media screen and (max-width: 990px) {
  .slide-area .slide-5 {
    background-position: center;
    background-size: cover;
  }
  
}
@media screen and (max-width: 768px) {
  .slide-area .slide-5 {
    background-image: url(../../assets/image/slide-img5.jpg);
  }
}
/* store */
.con-store-area {
  background-image: url(../../assets/image/store-backimg.png);
  background-repeat: no-repeat;
  margin-top: 13.4rem;
  background-size: cover;
  height: 100%;
}
.con-store-area .con-store-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.con-store-area .con-store-content .store-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.con-store-area .con-store-content .store-info span {
  font-size: 4.2rem;
  color: #fff;
  word-break: keep-all;
  font-weight: 700;
  line-height: 135%;
}
.con-store-area .con-store-content .store-info span:nth-of-type(2) {
  color: #34303d;
}
.con-store-area .con-store-content .store-info .store-box p {
  margin-top: 28px;
  padding: 7px 51px 8px 59px;
  font-size: 18px;
  background-color: #34303d;
  color: #fff;
}

.con-store-area .con-store-content .store-info .store-img1 {
  display: flex;
  width: 357px;
  height: 89px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 18px 26px 24px 21px;
  background: rgba(255, 255, 255, 0.8);
}
.cu {
  width: 76px;
  height: 47px;
}
.s-e {
  width: 129px;
  height: 24px;
}
.gs25 {
  width: 79px;
  height: 25px;
}
.con-store-area .con-store-content .store-img2 {
  width: 36rem;
  height: 39rem;
  padding-left: 3.5rem;
}
.con-store-area .con-store-content .store-info .store-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2.7rem;
}
.con-store-area .con-store-content .store-info .store-btn a {
  background-color: #fff;
  color: #34303d;
  padding: 1.6rem 3.4rem;
  border: 2px solid #fff;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.con-store-area .con-store-content .store-info .store-btn a::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.con-store-area .con-store-content .store-info .store-btn a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
.con-store-area .con-store-content .store-info .store-q {
  display: flex;
  flex-direction: column;
  margin-top: 3.9rem;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
}
.con-store-area .con-store-content .store-q2 {
  display: none;
}
@media screen and (max-width: 990px) {
  .con-store-area {
    background-image: url(../../assets/image/store-img1.png);
  }
  .con-store-area .con-store-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.9rem;
  }
  .con-store-area .con-store-content .store-info span {
    font-size: 3.2rem;
    text-align: center;
  }
  .con-store-area .con-store-content .store-info span:nth-of-type(2) {
    margin-bottom: 1.6rem;
  }
  .con-store-area .con-store-content .store-info .store-box {
    
    text-align: center;
  }
  .con-store-area .con-store-content .store-info .store-box p {
    font-size: 1.4rem;
    margin-top: 0;
    padding: 8px 39px 8px 43px;
    white-space: nowrap;
  }
  .con-store-area .con-store-content .store-info .store-img1 {
    padding: 1.4rem 1.6rem;
    gap: 1.7rem;
    width: 27.1rem;
    height: 6rem;
    
  }
  .con-store-area .con-store-content .store-info .store-img1 .cu {
    width: 5.5rem;
    height: 3.4rem;
  }
  .con-store-area .con-store-content .store-info .store-img1 .s-e {
    width: 9.3rem;
    height: 1.7rem;
  }
  .con-store-area .con-store-content .store-info .store-img1 .gs25 {
    width: 5.7rem;
    height: 1.8rem;
  }
  .con-store-area .con-store-content .store-info .store-btn {
    flex-direction: column;
    margin-top: 1.7rem;
  }
  .con-store-area .con-store-content .store-info .store-btn a {
    margin-top: 0;
    font-size: 1.3rem;
    padding: 1.2rem 3.4rem;
  }
  .con-store-area .con-store-content .store-info .store-btn a:nth-of-type(2) {
    margin-top: 1.2rem;
  }
  .con-store-area .con-store-content .store-info .store-q {
    display: none;
  }
  .con-store-area .con-store-content .store-q2 {
    display: inline-block;
  margin-top: 3.9rem;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  }
  .con-store-area .con-store-content .store-img2 img {
    padding-top: 5rem;
  }
}
/* video */

.video-area {
  display: flex;
  width: 100%;
  margin-top: 10rem;
}
.video-area .video-content {
  width: 50%;
  position: relative;
}

.video-test {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-area .video-content img {
  position: absolute;
  
}
.video-area .video-content .video-btn {
  position: absolute;
  width: 9.1rem;
  height: 5.1rem;
  background-color: #307BF6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.video-area .video-content .video-btn i {
  position: absolute;
  font-size: 4rem;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.video-area .video-content .video-btn:hover {
  background-color: rgba(48,123,246,0.85);
}

.video-area .video-content video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-area .iluma-int {
  width: 50%;
  height: 55rem;
  background-color: #f6f4f0;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  padding-left: 8rem;
  justify-content: center;
  word-break: keep-all;
}
.video-area .iluma-int div {

}
.video-area .iluma-int h2 {
  color: #3f4053;
  line-height: 150%;
  font-weight: 900;
  font-size: 4.8rem;
  text-align: left;
  letter-spacing: -0.04em;
}
.video-area .iluma-int p {
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.01em;

  color: #3f4053;
  font-weight: 500;
}
.video-area .iluma-int p:nth-of-type(1) {
  margin-top: 4rem;
}
.video-area .iluma-int a {
  background-color: #34303d;
  color: #fff;
  padding: 1.6rem 3.4rem;
  border: 2px solid #34303d;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.video-area .iluma-int a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.video-area .iluma-int a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
@media screen and (max-width: 990px) {
  .video-area {
    display: flex;
    flex-direction: column;
  }
  .video-area .video-content {
    width: 100%;
  }
  .video-area .iluma-int {
    width: 100%;
    padding-left: 0;
    align-items: center;
    
  }
  .video-area .iluma-int div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-area .iluma-int h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  .video-area .iluma-int p {
    font-size: 1.3rem;
    text-align: center;
  }
  .video-area .iluma-int p:nth-of-type(1) {
    margin-top: 2rem;
  }
  .video-area .iluma-int a {
    align-items: center;
    margin-top: 4rem;
    font-size: 1.3rem;
  }
}
/* home-product */

.home-product {
  display: flex;
  margin-top: 100px;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  word-break: keep-all;
}
.home-product .products-wrap {
  background-color: #f6f4f0;
  width: calc((100% - 40px) / 2);
  min-height: 30rem;
  padding: 8rem 0 6rem 10rem;
  display: flex;
  align-items: center;
}
.home-product .products-wrap .product {
  width: 50%;
}
.home-product .products-wrap .product h2 {
  color: #3f4053;
  font-size: 2.4rem;
}
.home-product .products-wrap .product p {
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.005em;
  color: #3f4053;
}
.home-product .products-wrap .product p:nth-of-type(1) {
  margin-top: 4rem;
}
.home-product .products-wrap .product .span-area {
  margin-top: 4rem;
  display: flex;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #3f4053;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.home-product .products-wrap .product .span-area .experiencing {
  margin-right: 5px;
}
.home-product .products-wrap .product .span-area .experiencing:hover {
  padding-right: 1rem;
  transition: all 0.5s;
}
.home-product .products-wrap .product .span-area i:hover {
  padding-left: 1rem;
  transition: all 0.5s;
}

.home-product .products-wrap .img-area {
  width: 50%;
}
.home-product .products-wrap img {
  
}
@media screen and (max-width: 990px) {
  .home-product .products-wrap {
    width: 100%;
    padding: 3rem 5rem;
    align-items: center;
    min-height: 23rem;
  }  
  
  .home-product .products-wrap:nth-of-type(1) {
    flex-direction: row-reverse;
    width: 100%;
  }
  
  .home-product .products-wrap:nth-of-type(1) .img-area {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3rem;
  }
  .home-product .products-wrap:nth-of-type(3) {
    flex-direction: row-reverse;
  }
  .home-product .products-wrap:nth-of-type(3) .img-area {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3rem;
  }
  .home-product .products-wrap:nth-of-type(2) .product {
    text-align: end;
  }
  .home-product .products-wrap:nth-of-type(2) .product .span-area {
    justify-content: end;
  }
  .home-product .products-wrap:nth-of-type(2) .img-area {
    padding-left: 3rem;
  }
  
  .home-product .products-wrap:nth-of-type(4) .product {
    text-align: end;
  }
  .home-product .products-wrap:nth-of-type(4) .product .span-area {
    justify-content: end;
    
  }
  .home-product .products-wrap:nth-of-type(4) .img-area {
    padding-left: 3rem;
  }
  .home-product .products-wrap .product h2 {
    font-size: 1.8rem;
  }
  .home-product .products-wrap .product .span-area {
    font-size: 1.3rem;
  }
  
  .home-product .products-wrap .product p:nth-of-type(1) {
  margin-top: 2rem;
}
.home-product .products-wrap .img-area img {
  width: 10rem;

}
  
}
.new-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.new-area .logo-area {
  width: 100%;
  padding-top: 10rem;
  background-color: #f6f4f0;
  display: flex;
  justify-content: center;
}
.new-area .logo-area img {
  background-color: #f6f4f0;
}
.new-area .title {
  padding-top: 8rem;
  width: 100%;
  font-size: 48px;
  color: #3f4053;
  background-color: #f6f4f0;
  text-align: center;
}

.new-area .iqos-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  gap: 8.5rem;
  width: 100%;
  position: relative;
}
.new-area .iqos-area-slick {
  display: none;
}
.new-area .iqos-area::after {
  position: absolute;
  content: "";
  height: 32rem;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f6f4f0;
  z-index: -1;
}

.new-area .iqos-area .iqos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-area .iqos-area .iqos-item .new {
  background: #00d1d2;
  border-radius: 2px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-area .iqos-area .iqos-item img {
  width: 28rem;
  height: 28rem;
}
.new-area .iqos-area .iqos-item div span {
  font-size: 1.2rem;
  color: #fff;
}
.new-area .iqos-area .iqos-item p {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #3f4053;
}
.new-area .iqos-area .iqos-item h2 {
  font-size: 2.4rem;
  margin-top: 2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #3f4053;
}
.new-area .iqos-arrow-slider {
  display: none;
}
/* slick */
.new-area .iqos-area-slick {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  gap: 8.5rem;
  width: 100%;
  position: relative;
}
.new-area .iqos-area-slick  {
  display: none;
}
.new-area .iqos-area-slick::after {
  position: absolute;
  content: "";
  height: 32rem;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f6f4f0;
  z-index: -1;
}

.new-area .iqos-area-slick .iqos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-area .iqos-area-slick .iqos-item .new {
  background: #00d1d2;
  border-radius: 2px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-area .iqos-area-slick .iqos-item img {
  width: 28rem;
  height: 28rem;
}
.new-area .iqos-area-slick .iqos-item div span {
  font-size: 1.2rem;
  color: #fff;
}
.new-area .iqos-area-slick .iqos-item p {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #3f4053;
}
.new-area .iqos-area-slick .iqos-item h2 {
  font-size: 2.4rem;
  margin-top: 2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #3f4053;
}
.new-area .product-btn {
  background-color: #fff;
  color: #34303d;
  padding: 1.6rem 3.4rem;
  border: 2px solid #34303d;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.new-area .product-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.new-area .product-btn:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
@media screen and (max-width: 990px) {
  .new-area .iqos-area {
    padding-top: 4rem;
    gap: 0;
  }
  .new-area .logo-area {
    padding-top: 5rem;
  }
  .new-area .logo-area .logo {
    width: 6.1rem;
    height: 6.1rem;
  }
  .new-area .title {
    font-size: 2.4rem;
    padding-top: 4rem;
  }
  .new-area .iqos-area .iqos-item p {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
  .new-area .iqos-area .iqos-item h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .new-area .product-btn {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 779px) {
  .new-area .iqos-area {
    display: none;
  }
  
  .new-area .iqos-area-slick {
    display: inline-block;
    position: relative;
  }
  
  .new-area .iqos-area-slick .iqos-arrow-slider {
    display: inline-block;
    position: absolute;
    width: 100% !important;
    top: 50%;
  }
  .new-area .iqos-area-slick .iqos-arrow-slider .prev {
    display: inline-block;
    left: 2rem;
    position: absolute;
  }
  .new-area .iqos-area-slick .iqos-arrow-slider .next {
    display: inline-block;
    right: 2rem;
    position: absolute;
  }
  .new-area .iqos-area-slick .iqos-arrow-slider i {
    font-size: 2rem;
  }
  .new-area .iqos-area-slick .iqos-arrow-slider i:hover {
    transition: all 0.3s;
    color: #34303d;
  }
}

.system-area {
  display: flex;
  background-color: #ffb501;
  max-width: 100%;
  margin-top: 10rem;
}
.system-area .system-info {
  width: 50%;
  padding-left: 13rem;
  padding-top: 8.5rem;
  color: #3f4053;
  letter-spacing: -0.04em;
  box-sizing: border-box;
}
.system-area .system-info h2 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 150%;
  word-break: keep-all;
}
.system-area .system-info h2:nth-of-type(1) {
  color: #fff;
}
.system-area .system-info .system-content {
  margin-top: 3rem;
  margin-bottom: 6rem;
  width: 100%;
  font-size: 18px;
  word-break: keep-all;
  letter-spacing: -0.05em;
}
.system-area .system-info .system-btn {
  background-color: #fff;
  color: #34303d;
  padding: 1.6rem 3.4rem;
  border: 2px solid #fff;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.system-area .system-info .system-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.system-area .system-info .system-btn:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
.system-area .system-info .warning {
  font-size: 1rem;
  color: #3f4053;
  margin-top: 3rem;
  margin-bottom: 8.5rem;
}
.system-area .img-area {
  width: 50%;
  padding-right: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.system-area .img-area .warning-a {
  display: none;
}
.system-area .img-area img {
  padding-top: 3.6rem;
}
@media screen and (max-width: 990px) {
  .system-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .system-area .system-info {
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .system-area .system-info h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  .system-area .system-info .system-content {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  .system-area .system-info .system-btn {
    font-size: 1.3rem;
    line-height: 100%;
    margin-top: 4rem;
  }
  .system-area .system-info .warning {
    display: none;
    
  }
  .system-area .img-area {
    padding-right: 0;
    height: auto;
    position: relative;
  }
  .system-area .img-area .warning-a {
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 32.4rem;
  }
  .system-area .img-area img {
    padding-top: 0;
  }
}

.last-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.last-section .iluma-benefit {
  display: flex;
  background-color: #35cbba;
  position: relative;
  min-height: 63.5rem;
}
.last-section .iluma-benefit .benefit-info {
  width: 50%;
  padding: 16.5rem 0 0 17.5rem;
}
.last-section .iluma-benefit .bene-img {
  min-height: 37.5rem;
}
.last-section .iluma-benefit .bene-img img {
  position: absolute;
  top: 12rem;
  right: 0;
  width: 50%;
  height: 100%;
}
.last-section .iluma-benefit .benefit-info h2 {
  font-size: 4.8rem;
  text-align: left;
  letter-spacing: -0.04em;
  font-weight: 900;
  line-height: 150%;
  word-break: keep-all;
  color: #3f4053;
}
.last-section .iluma-benefit .benefit-info h2:nth-of-type(1) {
  color: #fff;
}
.last-section .iluma-benefit .benefit-info a {
  background-color: #fff;
  color: #34303d;
  padding: 1.6rem 3.4rem;
  border: 2px solid #fff;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.last-section .iluma-benefit .benefit-info a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.last-section .iluma-benefit .benefit-info a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}
.last-section .iluma-acc {
  margin-top: 20rem;
  display: flex;
  background-color: #3f4053;
}
.last-section .iluma-acc .acc-info {
  width: 50%;
  padding-left: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.last-section .iluma-acc .acc-info h2 {
  font-size: 4.8rem;
  text-align: left;
  letter-spacing: -0.04em;
  font-weight: 900;
  line-height: 150%;
  word-break: keep-all;
  color: #fff;
}
.last-section .iluma-acc .acc-info h2:nth-of-type(2) {
  color: #35cbba;
}
.last-section .iluma-acc .acc-info p {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #fff;
}
.last-section .iluma-acc .acc-info a {
  background-color: #3f4052;
  color: #fff;
  padding: 1.6rem 3.4rem;
  border: 2px solid #fff;
  margin-top: 5rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
  opacity: 1;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.last-section .iluma-acc .acc-info a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #00d1d2;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-101%, -50%) skew(0deg);
  opacity: 1;
}
.last-section .iluma-acc .acc-info a:hover::after {
  transform: translate(-10%, -50%) skew(-30deg);
  opacity: 1;
}

.last-section .iluma-acc .acc-img {
  width: 50%;
}

.opinion {
  font-size: 1.4rem;
  line-height: 2.6rem;
  padding: 1.5rem 1rem;
  border-radius: 3.5rem;
  color: #fff;
  background-color: #000;
  position: fixed;
  bottom: 15px;
  left: 100px;
  font-weight: 700;
  line-height: 26px;
  display: inline-block;
  cursor: pointer;
}
.kaka-opinion {
  position: fixed;
  bottom: 40px;
  z-index: 900;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
  border-radius: 8px;
  height: 80px;
  width: 74px;
}
.kaka-opinion .img {
  background-image: url(../../assets/image/icon_kakao_chat.png);
  width: 42px;
  height: 40px;
}
.kaka-opinion .kakaotalk {
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #391b1b;
}
@media screen and (max-width: 990px) {
  .last-section .iluma-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 69.2rem;
    flex-wrap: wrap;
  }
  .last-section .iluma-benefit .benefit-info {
    padding: 7rem 0 0 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .last-section .iluma-benefit .benefit-info h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  .last-section .iluma-benefit .benefit-info  a {
    font-size: 1.3rem;
    margin-top: 4rem;
  }
  .last-section .iluma-benefit .bene-img {
    padding-top: 5rem;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  .last-section .iluma-benefit .bene-img img {
    max-width: initial;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
  }
}